.rt_image {
    position: relative;
}

span.slider-text {
    position: absolute;
    top: 140px;
    z-index: 9999999;
    color: #fff;
    font-size: 46px;
    display: block;
    width: 100%;
    text-align: center;
    left: 0;
}

p.slider-desc {
    position: absolute;
    top: 190px;
    width: 100%;
    text-align: center;
    color: #fff !important;
    font-size: 24px;
    display: block;
    z-index: 9999999;
}

.rt_image img {
    width: 100%;
}

.rt_image::after {
    content: '';
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.rt_image {
    position: relative;
}


@media (max-width:641px) {

    span.slider-text {
        top: 80px;
    }

    p.slider-desc {
        top: 130px;
    }

}
@media (max-width:481px) {
    span.slider-text {
        top: 40px;
    }

    p.slider-desc {
        top: 90px;
    }

}
@media (max-width:320px) {
    span.slider-text {
        top: 40px;
    }

    p.slider-desc {
        top: 90px;
    }

}